-#  This file is app/views/movies/similar.html.haml
%h2 Similar Movies

%table.table-striped.col-md-10#movies
  %thead
    %tr
      %th Title
  %tbody
    - @similar_movies.each do |movie|
      %tr
        %td= movie


= link_to 'Back to movie list', movies_path

-#%h2 Similar movies for #{@movie.title}

-#%ul
-#  - @similar_movies.each do |movie_name|
-#    %li= movie_name

-#= link_to 'Back', movies_path